.logo {
  width: 100%;
  margin-bottom: -10px;
  max-width: 217px;
  object-fit: cover;
  max-height: 150px;
}

.submitButton,
.signupButton {
  width: 100%;
  padding: 10px;

  color: var(--tertiary-gray);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.submitButton {
  background-color: var(--primary-color);
}

.signupButton {
  background-color: var(--secondary-gray);
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 12px;
  margin-top: 10px;
}

.signupTitle {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-regular);
  color: var(--secondary-gray);
  text-align: center;
}
