.button {
  width: 100%;
  padding: 10px;
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: var(--tertiary-gray);
}

.primary {
  background-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-gray);
}

.disabled {
  background-color: var(--primary-color-negative);
}

.tertiary {
  background-color: var(--secondary-background-color);
  width: auto;
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.primary:hover,
.disabled:hover {
  background-color: var(--primary-color-focus);
}

.secondary:hover {
  background-color: var(--primary-gray);
}
