@import "./variables.css";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
}

/* Estilos globais */
body {
  font-family: var(--font-primary);
  color: var(--tertiary-gray);
}
