:root {
  /* Cores */
  --primary-color: #8b1d07;
  --primary-color-focus: #8b2d00;
  --primary-color-negative: #8b3d07;
  --primary-background-color: #01121f;
  --secondary-background-color: #021a30;
  --primary-gray: #343b41;
  --secondary-gray: #868e96;
  --tertiary-gray: #f8f9fa;
  --feedback-success: #3fe864;
  --feedback-error: #e83f5b;

  /* Fontes */
  --font-primary: "Inter", sans-serif;

  /* Tamanhos de Fonte */
  --font-size-primary-title: 18px;
  --font-size-secondary-title: 16px;
  --font-size-headline: 12px;
  --font-size-paragraph: 16px;

  /* Pesos da Fonte */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
