.headerContainer {
  width: 100%;
  max-width: 370px;
}

.subtitle {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-regular);
  color: var(--secondary-gray);
  margin-top: -10px;
}

.errorMessage {
  font-size: var(--font-size-headline);
  font-weight: var(--font-weight-regular);
  color: var(--feedback-error);
  margin-top: -10px;
}

@media (max-width: 768px) {
  .headerContainer {
    max-width: 90%;
  }
}
